* {
    transition: 250ms ease;
    font-family: "Open Sans";
}

.body {
    display: flex;
    background-color: #f7f9fb;
    /* background-color: #F0F2FD; */
    /* background-color: #f5f5f5; */
}

.sidebar {
    min-height: 100vh;
    padding: 20px 10px 20px 0px;
    box-sizing: border-box;
    width: 350px;
    z-index: 2;
}

.sidebar,
.info-bar {
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: lighter;
    /* font-family: "Source Sans Pro"; */
    color: #333;
}

a:hover {
    text-decoration: none;
}

.sidebar .icon {
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 50px;
    opacity: 1;
    font-size: 12px;
    float: right;
}

.btn-blue.icon,
.active .icon {
    background-color: #fff;
    color: #299FFF;
}

.sidebar,
.info-bar {
    color: #354757;
}

.info-bar {
    width: 100%;
    /* display: none; */
    padding: 5px 10px 5px 0;
}

.info-box {
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 3px;
    /* border: 1px solid #ddd; */
    /* box-sizing: border-box; */
    /* box-shadow: 0 15px 20px rgba(59, 90, 156, 0.05); */
    box-shadow: 0 3px 5px rgba(68, 155, 236, 0.07);
    margin-bottom: 30px;
}

.sidebar ul li li .sidebar-item {
   z-index: 1;
}

.sidebar .sidebar-item {
    display: block;
    padding: 12px 10px 12px 25px;
    margin: 3px 0 3px 0;
    color: inherit;
    color: #aaa;
    border-left: 5px solid transparent;
}

.btn-blue {
    border-radius: 5px;
}

.sidebar-item:hover {
    color: #222;
}

.sidebar-item.active,
.btn-blue{
    color: #fff;
    text-transform: capitalize;
    color: #449BEC;
}

.sidebar-item.active {
    /* font-weight: bold; */
    border-left-color: #449BEC;
    background: linear-gradient(to right, rgba(68, 155, 236, 0.035), transparent);
}

.active ul {
    display: block;
}

.sidebar-item.active ul {
    display: block;
}

.btn:not(.btn-sm) {
    padding-left: 20px;
    padding-right: 20px;
}

.btn:hover {
    
    /* color: #fff; */
}

.btn-blue:hover {
    background-color: rgba(68, 155, 236, 0.05);
    color: #449BEC;
}

.sidebar-item.active .fas,
.btn-blue.fas {
    opacity: 1;
}

/* .dropdown:hover ul {
    display: block;
} */

.categories {
    border: 1px solid #eee;
    text-align: left;
    padding: 10px;
    overflow-y: auto;
    height: 200px;
    flex-wrap: wrap;
}

.categories input {
    margin-left: 30px;
    margin-right: 5px;
}

.cover-img {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-color: #fff;
    color: #fff;
    position: relative;
    overflow: hidden;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.img img {
    min-width: 100%;
    max-width: 110%;
}

.thumbnail img {
    min-height: 100%;
    max-height: 110%;
    min-width: unset;
    max-width: unset;
}

.post-thumbnail {
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
}

.headline {
    padding: 5px 100px 5px 10px;
    display: inline-block;
    background: linear-gradient(to right, rgba(255,255,255,.1), transparent);
    font-size: 18px;
}

.required:after {
    content: " *";
    color: red;
}

.cms {
    overflow-y: auto;
    height: 100vh;
    padding: 50px 20px;
}

.cmd .row {
    height: 100vh;
}

/* TABLE DESIGN */

/* .table {
    background-color: #fff;
    box-shadow: 0 10px 30px rgba(0,0,0, 0.08);
    padding: 10px !important;
} */

.btn {
    background-color: transparent;
    background-color: rgba(68, 155, 236, 0.035);
}

table .btn {
    border-radius: 50%;
    /* border: 1px solid #f2f2f2; */
    width: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #999;
    background-color: transparent;
    height: 50px;
}

table .btn:hover {
    background-color: #f5f5f5;
    color: #666;
}

td {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.faded {
    opacity: .8;
}
/* END TABLE DESIGN */


.navigation {
    margin-top: 40px;
    margin-bottom: 30px;
    /* background-color: #fafafa; */
    /* box-shadow: 0 10px 30px rgba(0,0,0, 0.05); */
}

.navigation span a,
.navigation .current {
    font-weight: bold;
    display: inline-block;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.navigation span a {
    color: #888;
}

.navigation .current {
    color: #fff;
    background-color: #299FFF;
    box-shadow: 0 7px 20px rgba(41, 159, 255, 0.5);
}

.navigation span a:hover {
    background-color: #f2f2f2;
}

.alert {
    border-radius: 0;
    border: none;
    width: 350px;
    display: block;
    position: absolute;
    right: 0;
    margin-right: 10px;
    z-index: 999;
    /* margin-right: auto; */
}
