.post {
    padding: 20px;
    border: none;
    background-color: rgba(255,255,255,.8);
    border-radius: 15px;
    margin-bottom: 20px;
    color: initial;
    transition: 250ms ease;
}

.post.card {
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

.post.card:hover {
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.post a:not(.btn) {
    color: initial;
}

.post .content a {
    color: blue;
}

.post:hover a {
    text-decoration: none;
}

body {
    background-color: #eee
}