.post {
    padding: 20px;
    border: none;
    background-color: rgba(255,255,255,.8);
    border-radius: 15px;
    margin-bottom: 20px;
    color: initial;
    transition: 250ms ease;
}

.post.card {
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

.post.card:hover {
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.post a:not(.btn) {
    color: initial;
}

.post .content a {
    color: blue;
}

.post:hover a {
    text-decoration: none;
}

body {
    background-color: #eee;
    height: 100%;
}

.badge {
    display: inline-block;
    padding: 5px 10px;
    text-transform: uppercase;
}

.badge-primary {
    background-color: #2c54c2;
}

.badge-success {
    background-color: #1da06e;
}

.badge-danger {
    background-color: #c44721;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrapper > .body {
    flex: 1;
}