{% extends 'admin.html.twig' %}

{% block title %}Settings{% endblock %}

{% block body %}
<div class="row">
    <div class="col-xl-4 col-md-6 col-12">
        <div class="info-box">
            <h5>General Settings</h5><br>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
