<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}CRUD - Blog{% endblock %} | Blog.com</title>
	{{ include('inc/link.html.twig') }}
	{% block stylesheets %}{% endblock %}
</head>

<body>
	<div class="wrapper">
		<div class="body">
			{{ include('inc/nav.html.twig') }}
			<br><br>
			<br><br><br>
			<div class="container">
				{% block body %}{% endblock %}
			</div>
			<br><br>
		</div>

		{{ include('inc/footer.html.twig') }}

	</div>

	{{ include('inc/script.html.twig') }}
	{% block javascripts %}{% endblock %}
</body>

</html>