		<footer>
			<div class="row justify-content-center">
				<div class="col-md-6 text-center col-12">
					<span class="lead">Copyrights &copy; 2018</span>
					<br><a class="btn btn-lg text-dark" href="https://github.com/urankajtazaj/SyBlog" target="_blank"><i class="fab fa-github"></i></a>
				</div>
			</div>
		</footer>